body{
	background-image: url("../images/wd.jpeg");
	
	}


h1{
	font-weight: bold;
	color: white;
}
#yourtextfield{
    margin-top: 500px;
    margin-left: 20px;
}

#name-form{
    margin-top: 900px;
    margin-left: 200px;
}



#range{
     position: absolute;
     top:0;left: 0;
     cursor: crosshair;
     width: 100%;
     height: 300px;
     }
            
#img1{
     position: absolute;
     top:100px; left:0;
     border: none;
     padding: 10px;
      }
            
 #score{
     font: 16px normal arial, verdana, sans-serif;
     color: white;
     font-weight: bold;
     margin-top: 80px;
     padding: 50px;
     z-index: 100;
            }

#cow1, #cow2, #cow3 {z-index:500;}

#cow1 {position:absolute; bottom:50px; left:;}
#cow2 {position:absolute; bottom:50px; left:1100px;}
#cow3 {position:absolute; bottom:50px; left:500px;}
            




#container{
	margin-left: 200px;
}

#query{
	margin-left: 200px;
}


#chatDisplay {
    height: 150px;
    width: 100%;
    overflow: auto;
    text-align: left;
    border-radius: 10px;
    background-color: white;
    font-size: 1em;
    color: black;
    padding: 1em 1em 1em 1em;
}

.chatInput {
    height: 150px;
    border-radius: 10px;
    background-color: white;
}

.chatLabel {
    font-size: 1.5em;
    color: black;
    text-align: center;
    font-weight: bold;
    padding: 0.5em 0em 0.5em 0em;
}

#chat-input {
    width: 60%;
    height: 90px;
    margin-left: 15px;
    margin-right: 5px;
    color: #b4c7df;
    border-radius: 10px;
    background-color: #D3D3D3;
}

#chat-input:focus {
    color: black;
    background-color: white;
}

#chat-send {
    width: 20%;
    height: 90px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    color: white;
    font-weight: normal;
    position: relative;
    top: -40px;
    background-color: black

}

.chatColor1 {
    color: green;
}

.chatColor2 {
    color: black;
}

.chatColorDisconnected {
    color: green;
    font-style: italic;
}

.chatColorJoined {
    color: green;
    font-style: italic;
}





